.container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
}

.textBox {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.textDisplay {
    min-height: 600px;
    width: 60%;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.btnBox {
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.scoresBox {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.wins,
.ties,
.losses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 150px;
}

.winsBox,
.tiesBox,
.lossesBox {
    border: 3px solid black;
    height: 30px;
    width: 35px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnBox2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    font-family: Roboto, sans-serif;
    /*height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    */
}